.figura1 {
    width: 200px;
    height: 200px;
    background-color: pink;
}

.figura2 {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: orange;
    position: absolute;
    top: 33px;
    left: 33px;
}

.figura3 {
    width: 40px;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 105px;
    left: 90px;
}

.figura3:before {
    width: 5px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: -17px;
    left: 17px;
    content: "";
}
