.border6 {
    width: 8vmin;
    height: 8vmin;
    margin: 10vmin;
    box-shadow: inset 0 0 5px 10px #000, 0 0 5px 10px #ff0, 0 0 5px 20px #008000, 0 0 5px 30px #00f,
    0 0 5px 40px #f00, 0 0 5px 50px #f0f;
}
