body{
    font-family: monospace;
    font-size: 14px;
}
p{
    width: 500px;
}
.bem{
    width: 500px;
    height: 30px;
    padding-top: 10px;
    background-color: lightgray;
    outline: 1px solid gray;
    
}
.tools{
    display: inline-block;
     background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
   
}
.bem2{
    
    width: 500px;
    height: 35px;
    background-color: lightgray;
    outline: 1px solid gray;
    overflow-x: scroll;
    overflow-y: hidden;
   

    
}
.p{
    display: inline-block;
     background-color: lightgray;
    border: 1px solid gray;
    border-radius: 5px;
   
}
