.house:hover #axC1XKAZo {
    fill: #F0E68C;
}

.house:hover #b5faFgPH {
    fill: gray;
}

.house:hover #h5onsQlO {
    stroke-width: 5;
}

.house:hover #gfwTCelfG {
    stroke: yellow;
}

.house:hover #h5onsQlO {
    stroke-width: 5;
}
