.cyan1 {
    width: 540px;
    height: 400px;
    background-color: darkcyan;
}

.cyan2 {
    width: 450px;
    height: 370px;
    background-color: darkcyan;
    border: 2px solid;
    position: absolute;
    top: 20px;
    left: 40px;
}

.red {
    width: 100px;
    height: 70px;
    background-color: red;
    border: 2px solid;
    position: absolute;
    top: 50px;
    left: 80px;
}

.blue {
    width: 100px;
    height: 210px;
    background-color: blue;
    border: 2px solid;
    position: absolute;
    top: 150px;
    left: 80px;
}

.green {
    width: 250px;
    height: 200px;
    background-color: green;
    position: absolute;
    top: 50px;
    left: 210px;
    border: 2px solid;
}

.yellow {
    width: 250px;
    height: 80px;
    background-color: yellow;
    position: absolute;
    top: 280px;
    left: 210px;
    border: 2px solid;
}
