div {
    height: 20px;
    width: 340px;
    padding: 5px;
    border: 1px solid gray;
}

span {
    float: left;
}

ul {
    float: right;
    margin: 0;
    padding: 1px;
}

li {
    padding: 2px 9px;
    list-style-type: none;
    display: inline;
    background-color: gray;
    color: darkred;
}


.red {
    color: white;
    background-color: darkred;
}

.fig{ background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
   background-repeat: no-repeat;
    background-position: 100% 0;   }

.fig.0{background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-repeat: no-repeat;
    background-position: 100% 100%;  
}
.fig.1{ background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
   background-repeat: no-repeat;
    background-position: 40% 0;}
    
.fig.2 { background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-repeat: no-repeat;
    background-position: 80% 0;    }
    
.fig.3{background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
     background-repeat: no-repeat;
    background-position: 60% 0; }
    
.fig.4{ background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-repeat: no-repeat;
    background-position: 20% 0; 
    }
    
.fig.5{background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
     background-repeat: no-repeat;
    background-position: 0% 0;  
}
.fig.6{
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-repeat: no-repeat;
    background-position: 40% 100%;
}
.fig.7{
    background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
    background-repeat: no-repeat;
    background-position: 80% 100%; 
}
.fig.8{
     background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
     background-repeat: no-repeat;
    background-position: 60% 100%; 
}
.fig.9{
     background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
      background-repeat: no-repeat;
    background-position: 20% 100%;  
}
.fig.10{
     background-image: url(https://raw.githubusercontent.com/antonkulakov-it/library/master/chess.png);
     background-repeat: no-repeat;
    background-position: 0 100%;  
}

